.catalog {
    background: url(../images/img/catalog-background.jpg);
    padding-top: 50px;
    padding-bottom: 385px;

    &__nav {
        border-radius: 52.5px;
        background: #D6B1FF;
        box-shadow: 0px 4px 4px 0px #8C30F5;
        padding: 35px 70px;
    }

    &__item {
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__title {
        width: 700px;
        color: #EE85B2;
        font-size: 48px;
        font-weight: 300;
        line-height: 64px;
        text-transform: uppercase;
        padding: 30px 0;
    }

    &__menu {
        @include listReset;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: #FFF;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        text-transform: uppercase;
    }

    &__card {
        padding: 15px;
        transition: all .2s;

        &:hover {
            border-radius: 10px;
            background: #FFE9FB;
            box-shadow: 0px 4px 4px 0px #8C30F5;
        }

        &:hover .catalog__img {
            border-radius: 10px
        }
    }

    &__button {
        @include btnReset;
        display: block;
        margin: 0 auto;
        color: #FFF;
        font-size: 18px;
        background-color: #8C30F5;
        padding: 15px 25px;
        border-radius: 25px;
        transition: all .2s ease-in-out;
        &:hover {
            background-color: #4d069e;
        }
        &:disabled {
            opacity: 0.4;
            pointer-events: none;
        }
    }

    &__list {
        @include listReset;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 60px;
    }

    &__img {
        border-radius: 50%;
        transition: all .2s;
    }

    &__cards-title {
        color: #FF5BA2;
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        text-transform: uppercase;
    }

    &__descr {
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    &__price {
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }

    &__count {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
    &__count-btn {
        cursor: pointer;
        &:hover {
            transform: scale(1.5);
        }
    }


    &__sum {
        margin: 0 8px;
    }

    &__bottom {
        min-height: 485px;
        background: url(../images/img/catalog-bottom-img.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 40px;
        padding: 0 140px;
        
    }

    &__btn {
        @include btnReset;
        display: flex;
        align-items: center;
        border-radius: 72px;
        background: rgba(255, 233, 251, 0.90);
        box-shadow: 0px 4px 4px 0px #8C30F5;
        padding: 16px 48px 16px 48px;
        color: #EE85B2;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        & svg {
            margin-right: 10px;
        }

        
    }


    .btn-write-us {
        color: #8C30F5;
    }

}